<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="stylesheet" th:href="@{styles/cart.css}">
</head>

<body>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <nav>
        <a href="/"><img th:src="@{/images/logo.png}"></a>
        <div class="block">
            <a th:href="@{/products}">
                <p>Посмотреть католог товаров</p>
            </a>
            <a th:href="@{/about-us}">
                <p>О нас</p>
            </a>
            <a th:href="@{/way-delivery}">
                <p>Способы доставки</p>
            </a>
            <div th:if="${username}" class="login"><a th:href="@{/cart}">
                    <p>Корзина</p>
                </a></div>
            <div th:if="!${username}" class="login"><a th:href="@{/login}">
                    <p>Войти</p>
                </a></div>
        </div>
    </nav>
    <a class="orders" th:href="@{/orders}">Просмотреть ваши заказы</a>

    <p>Имя пользователя: <span id="username"></span></p>
    <p>Корзина</p>
    <div id="container"></div>

    
    <a id="submit-order" class="submit-order" th:href="@{/order}">Заказать</a>


    <script th:src="@{scripts/cart.js}"></script>
</body>

</html>