<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/product_styles.css}" />
    <title>Document</title>
</head>

<body>
    <nav>
        <a href="/"><img th:src="@{/images/logo.png}"></a>
        <div class="block">
            <a th:href="@{/products}">
                <p>Посмотреть католог товаров</p>
            </a>
            <a th:href="@{/about-us}">
                <p>О нас</p>
            </a>
            <a th:href="@{/way-delivery}">
                <p>Способы доставки</p>
            </a>
            <div class="login"><a th:href="@{/cart}">
                    <p>Корзина</p>
                </a></div>

        </div>
    </nav>
    <div class = "top-filter">
        <select id="sort">
            <option value="1">По убыванию цены</option>
            <option value="2">По возрастанию цены</option>
        </select>
        <input type="text" id="search-input" class="search" placeholder="Поиск" />
        <button class="search-button">Поиск</button>
    </div>
    <div id="container">
    </div>
    <script th:src="@{scripts/products.js}"></script>
</body>

</html>